@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .table-row-hover {
    @apply hover:bg-slate-800/40 transition-colors cursor-pointer;
  }

  .waveform-bar {
    @apply bg-indigo-primary/30 rounded-full transition-all duration-300;
  }
  .waveform-bar.active {
    @apply bg-indigo-primary;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 4px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #1e293b;
    border-radius: 10px;
  }
}
